:root {
    --bs-body-font-family: "Onest", sans-serif;
    --bs-body-line-height: 1.625rem;

    --radius-40: 2.5rem;
    --radius-32: 2rem;
    --radius-28: 1.75rem;
    --radius-24: 1.5rem;
    --radius-20: 1.25rem;
    --radius-18: 1.125rem;
    --radius-16: 1rem;
    --radius-12: 0.75rem;
    --radius-10: 0.625rem;
    --radius-999: 999rem;
}

.skip {
    position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

h1,
section h1,
:where(h1) {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin-block:0;
    color:var(--bs-white);
}



.radius-40 {
    border-radius: var(--radius-40);
}

.radius-32 {
    border-radius: var(--radius-32);
}

.radius-28 {
    border-radius: var(--radius-28);
}

.radius-24 {
    border-radius: var(--radius-24);
}

.radius-20 {
    border-radius: var(--radius-20);
}

.radius-18 {
    border-radius: var(--radius-18);
}

.radius-16 {
    border-radius: var(--radius-16);
}

.radius-12 {
    border-radius: var(--radius-12);
}

.radius-10 {
    border-radius: var(--radius-10);
}



.radius-999 {
    border-radius: var(--radius-999);
}

.btn-secondary.var:focus-visible,
.btn-secondary.trasp:focus-visible {
    box-shadow:0px 0px 0px 2px var(--bs-white); 
}

.title-42 {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 600;
}

.title-36 {
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 600;
}

.title-32 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 600;
}

.title-26 {
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: 600;
}

.title-22 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

.title-20 {
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.title-20-var {
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-weight: 300;
}

.title-16 {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.title-14 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.body-14 {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.body-12 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.container-ccam {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
}

.container-ccam-2 {
    max-width: 1040px;
}

.btn {
    white-space: nowrap;
    height: max-content;
}

.btn svg {
    height: 22px;
    width: 22px;
    stroke-width: 2px;
}

.btn svg path {
    stroke-width: 2px;
}

.btn-secondary:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-secondary.var:hover {
    color: var(--bs-secondary);
    background-color: var(--bs-ccam-offwhite);
    border-color: var(--bs-ccam-offwhite);
}

.btn.icon-only {
    padding: 0.45rem
}

.btn.trasp {
    background-color: rgb(from var(--bs-secondary) r g b / 20%);
    border-color: rgb(from var(--bs-secondary) r g b / 0%);
    color: var(--bs-white);
}

.btn.trasp:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn.ghost {
    color: var(--bs-primary);
    background-color: rgb(from var(--bs-primary) r g b / 0%);
    border-color: rgb(from var(--bs-primary) r g b / 0%);
}

.btn.ghost:hover {
    color: var(--bs-primary);
    background-color: rgb(from var(--bs-primary) r g b / 6%);
    border-color: rgb(from var(--bs-primary) r g b / 0%);
}

/* menu di navigazione*/

.pre-maxi {
    max-width:1280px;
    margin:auto;
}

.navigazione-reale {
    position: relative;
}

.navigazione-reale:before {
    content: "";
    width: 100%;
    height: 36px;
    background: var(--bs-primary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0px 0px 40px 40px;
}

.ccam-nav {
    padding: 12px;
    border-radius: 100px;
    box-shadow: 0px 0px 12px rgb(from var(--bs-secondary) r g b / 10%)
}

.ccam-nav .navbar-nav {
    flex-grow: inherit;
    justify-content: space-between;
}

.ccam-nav .container-fluid {
    padding: 0;
}

.ccam-nav .nav-item {
    padding: 0 !important;
    border-radius: 300px;
    transition: .3s all ease;
}

.ccam-nav .nav-item:hover {
    background-color: var(--bs-primary);
}
.ccam-nav .nav-item:hover .nav-link {
    color: var(--bs-ccam-offwhite);
}

.ccam-nav .nav-link {
    color: var(--bs-ccam-grey);
    padding: 10px 18px !important;
}

.ccam-nav .nav-link.active {
    color: var(--bs-white);
}

.ccam-nav .nav-item:has(.nav-link.active) {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    padding: 10px 24px;
}

.dropdown-menu[data-bs-popper] {
    border-color: var(--bs-ccam-lines);
    left: 10px;
    border-radius: 12px;
}

.dropdown-item {

    padding: 8px 12px;
    border-bottom: 1px solid var(--bs-ccam-lines);
}

.dropend .dropdown-toggle::after {
    vertical-align: 0;
    position: absolute;
    right: 14px;
    top: 17px;
}

/* home and main UI elements */

.header_home {
    height: 360px;
    background: linear-gradient(to top, rgb(from var(--bs-secondary) r g b / 60%), rgb(from var(--bs-secondary) r g b / 10%)), url(../images/header_home_2.jpg);
    background-size: cover;
    background-position: center;
}

.dark-glass {
    background: rgb(from var(--bs-ccam-black) r g b / 40%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.card-widget {
    position: relative;
    overflow: hidden;
}

.card-widget-small {
    height:180px;
}

.card-widget-medium {
    height: 230px;
}

.card-widget-large {
    height: 300px;
}

.card-widget .text-content {
    position: relative;
    z-index: 2;
}

.card-widget::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, rgb(from var(--bs-ccam-black) r g b / 60%), rgb(from var(--bs-ccam-black) r g b / 0%) 40%);
    left: 0;
    bottom: 0;
}



.card-widget img {
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
}

.fake-rounder {
    height: max-content;
}

.fake-rounder svg {
    stroke-width: 2px;
}

a.card-widget,
a.card-widget .dark-glass,
a.card-widget .dark-glass svg,
a.card-widget .dark-glass p.text-white,
a.card-widget img {
    transition: .4s all ease;
}

a.card-widget:hover {
    background-size: 110% auto;
}

a.card-widget:hover .dark-glass {
    background-color: var(--bs-white);
}

a.card-widget:hover .dark-glass svg,
a.card-widget:hover .dark-glass .text-white {
    color: var(--bs-ccam-black) !important;
}

a.card-widget:hover img {
    transform: scale(1.06);
}

.light-white-image {
    background: url('../images/line-shaded.jpg');
    background-size: cover;
    background-position: center;
}

.linkoni {
    background-color: var(--bs-ccam-offwhite);
    padding: 8px 18px 8px 8px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    transition: .3s all ease;
}


.blu-big-icon svg {
    width: 30px;
    height: 30px;
    color: var(--bs-white);
    stroke-width: 2px;
}

.arrow-linkone {
    position: absolute;
    right: 18px;
    top: calc(50% - 12px);
    transition: .3s all ease;
}

.arrow-linkone svg {
    height: 24px;
    width: 24px;
    stroke-width: 2px;

}

.linkoni:hover .arrow-linkone {
    right: 10px;
}

.linkoni:hover {
    color: var(--bs-primary) !important;
    background-color: var(--bs-white);
}

.col-avvisi-portlet {
    overflow: hidden;

}

.avvisi-portlet-header .side svg {
    color: var(--bs-primary);
    width: 30px;
    height: 30px;
}

.avvisi-lista {
    height: -webkit-fill-available;
    max-height: 255px;
    overflow: auto;
}

.avviso-line svg {
    color: var(--bs-primary);
}

.stroke-2 svg {
    stroke-width: 2px;
}

.stroke-3 svg {
    stroke-width: 3px;
}

.chev {
    height: 24px;
}

.avviso {
    transition: .3s all ease;
    text-decoration: none;
}

.avviso:hover {
    background-color: var(--bs-white);
    padding-right: 4px !important;
}

.cruscotto {
    background: url('../images/area_blu.jpg');
    background-size: cover;
    background-position: center;
}

.liner {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid var(--bs-ccam-lines);
}

.news h4,
.news .date_and_arrow,
.news .date_and_arrow svg {
    transition: .3s all ease;
}

.news .date_and_arrow svg {
    opacity: 0;
}

.news:hover .date_and_arrow svg {
    opacity: 1;
}

.news:hover h3 {
    color: var(--bs-primary) !important;
}

.news:hover .date_and_arrow {
    gap: 14px !important
}

.article_thumbnail {
    overflow: hidden;
}

.article_thumbnail img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    transition: .4s all ease;
}

.news:hover .article_thumbnail img {
    transform: scale(1.04);
}

footer ul li a {
    transition: .3s all ease;
}

footer ul li:hover a {
    transition: .3s all ease;
    text-decoration: underline !important;
}



/*input and forms*/
.form-control {
    background-color: rgb(from var(--bs-white) r g b / 0%);
    color:var(--bs-white);
    border-radius:100px!important;


}

.form-control::placeholder {
    color:var(--bs-white);
}

.search-container {
    position:relative;
}

.search-icon {
    position:absolute;
    right:10px;
    top:calc(50% - 14px);
}

.search-container input.form-control {
    padding: .75rem 1rem;
}

.form-control:focus {
    background-color: rgb(from var(--bs-secondary) r g b / 10%);
    color:var(--bs-white);
    
}

.search-container input.form-control:hover,
.search-container input.form-control:focus {
    cursor:pointer;
    outline:4px solid rgb(from var(--bs-white) r g b / 20%);
}



/* banner alerts*/

#editoriale-banner .desktop {
    min-height:350px;
}

#editoriale-banner .desktop img {
    position:absolute;
    width:auto;
    height:calc(100% + 4px);
    top:-2px;
    right:0;
    transition: .4s all ease;
}

#editoriale-banner .desktop:after {
    position:absolute;
    content:"";
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:linear-gradient(to right, var(--bs-ccam-black) 50%, transparent 65%)
}

#editoriale-banner .desktop:hover img {
    transform:scale(1.02);
}

#editoriale-banner .desktop .fake-button {
    width:fit-content;
    transition: .3s all ease; 
    background:rgb(from var(--bs-white) r g b / 10%);
}

#editoriale-banner .desktop:hover .fake-button {
    color:var(--bs-ccam-black)!important;
    background:var(--bs-white)!important;
}

.accedi_mega_button {
    background:url('../images/pdfbackgrounds.jpg') no-repeat center center / cover;
}


/*widgets pagine interne*/

.header_interne {
    height:360px;
}

.article_details .header_interne {
    height:auto;
    aspect-ratio: 16 / 9;
}

.header_interne::after{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:linear-gradient(to top, rgb(from var(--bs-ccam-black) r g b / 60%), rgb(from var(--bs-ccam-black) r g b / 20%) 50%);
}

.header_interne img {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit: cover;
}


.header_interne .bread_crumbs {
    width:fit-content;
}

.header_interne .bread_crumbs .breadcrumb-item.active {
    color:var(--bs-white);
}

.header_interne .bread_crumbs .breadcrumb-item a {
    color:rgb(from var(--bs-white) r g b / 100%);
    text-decoration:none;
}

.header_interne .bread_crumbs .breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    color:rgb(from var(--bs-white) r g b / 40%)
}

.in_article .breadcrumb-item+.breadcrumb-item::before {
    color:rgb(from var(--bs-ccam-lines) r g b / 100%)
}

.in_article.bread_crumbs .breadcrumb-item.active {
    color:var(--bs-ccam-grey);
}

.listona_links li.nav-item a,
.sommario_links li.nav-item a {
    transition: .3s all ease;
}

.sommario_links li.nav-item a svg {
    width:20px;
    height:20px;
}

.listona_links li.nav-item a svg {
    opacity:0;
    transition: .3s all ease;
}

.listona_links li.nav-item a:hover,
.sommario_links li.nav-item a:hover {
    color:var(--bs-primary)!important;
}

.listona_links li.nav-item a:hover svg {
    opacity:1;
}

.listona_links li.nav-item a:hover {
    padding-right:2px!important;
    padding-left:2px!important;
}

.accedi_mega_button .stroke-3 svg {
    width:54px;
    height:54px;
}

.risorsa {
    min-height: 200px;
}

.risorsa img {
    top:0;
    left:0;
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
}

.file_size_type img,
.file_size_type svg {
    height:18px;
    width:18px;
    stroke:1;
}

.file_size_type svg path {
    stroke:1;
}

.risorsa img,
.risorsa .btn {
 transition: .3s all ease;
}

.risorsa:hover img {
    transform:scale(1.06);
}

.risorsa:hover .btn.btn-secondary {
    color:var(--bs-secondary)!important;
    background-color:var(--bs-white)!important;
    border-color:var(--bs-white)!important;
}

.table tbody tr td,
.table tbody tr th {
    color:var(--bs-ccam-grey)!important;
}
.table thead.table-dark tr th {
    color:var(--bs-white)!important;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
}

.accordion-item:first-of-type {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-bottom-right-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.lettura_card:hover .btn.btn-secondary {
    color:var(--bs-white)!important;
    background:var(--bs-primary)!important;
    border-color:var(--bs-primary)!important;
}

section.comuni img {
    aspect-ratio:16/10;
    object-fit: cover;
    border-radius:24px;
    width:100%;
}

.numerone {
    transition: .3s all ease;
}

.numerone:hover {
    background-color:var(--bs-primary)!important;
}

#mappe iframe {
    width:100%!important;
    height:320px!important;
    border-radius:20px;
    border:1px solid var(--bs-ccam-lines);
}

.search-results img {
    width:100%;
    aspect-ratio: 16 / 12;
    object-fit: cover;
    border-radius:16px;

}

.search-results a h2,
.search-results a img {
    transition: .3s all ease;
}

.search-results a h2:hover {
    color:var(--primary)!important;
}

.search-results a img:hover{
    transform:scale(1.06);
}

/*mega search modal*/

button#close-mega-search {
    
    position:absolute;
    right:32px;
    top:15px;
}

button#close-mega-search:hover {
    cursor:pointer;
}

.modal-fullscreen .modal-content {
    min-height: fit-content;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 113, 204, .8);
}


@media (max-width: 1220px) { 

    .bottoni-pre-header .btn:nth-child(1),
    .bottoni-pre-header .btn:nth-child(2) {
        display:none!important;
    }
}

@media (max-width: 1100px) { 

    .container-ccam {
        max-width:calc(100% - 40px);
    }

    .ccam-nav .nav-link {
        padding: 10px 10px!important;
    }

}



@media (max-width: 991.98px) { 
    header .container-ccam {
        max-width:100%;
    }


    .ccam-mega-search.modal,
    .modal-backdrop.show {
        display:none!important;
    }

    .container-ccam {
        max-width:calc(100% - 32px);
    }

    main section:first-child {
        padding-top:76px!important;
    }

    .pre-header,
    .navigazione-reale:before {
        display:none!important;
    }

    .ccam-nav {
        border-radius:0;
        box-shadow:none;
        background:var(--bs-primary)!important;
        color:var(--bs-white)!important;
    }

    .logo-mobile img {
        width:100px;
    }

    .navbar-toggler {
        padding: 6px;
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 1px rgb(from var(--bs-white) r g b / 88%);

    }

    .ccam-nav .nav-link {
        color:var(--bs-white);
        font-weight: 300 !important;
        padding: 10px 10px !important
    }

    .ccam-nav .nav-item {
        border-radius:0;
        border-bottom: 1px solid rgb(from var(--bs-white) r g b / 12%);
    }

    .ccam-nav.navbar {
        padding:6px 20px;
    }

    .ccam-nav .nav-item:hover {
        background-color: rgb(from var(--bs-white) r g b / 2%);
    }

    .ccam-nav .nav-link:hover,
    .navbar-nav .nav-link.active, 
    .navbar-nav .nav-link.show {
        color:var(--bs-white);
    }

    .navbar-collapse {
        padding:12px 0px 40px 0px;
    }

    .ccam-nav .nav-item:has(.nav-link.active) {
        background-color: rgb(from var(--bs-white) r g b / 6%);
    }

    .dropdown-menu[data-bs-popper] {
        border-radius:0;
        background-color: rgb(from var(--bs-white) r g b / 6%);
        border: none;
        padding:0;
    }

    .dropdown-item {
        color:var(--bs-white);
        font-weight:300;
        font-size:14px;
        border-bottom: 1px solid rgb(from var(--bs-white) r g b / 12%);
        padding-left:20px;
    }

    .dropend .dropdown-menu .dropdown-item {
        padding-left:36px;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: rgb(from var(--bs-white) r g b / 6%);
        color:var(--bs-white);
    }

    .dropend .dropdown-menu[data-bs-popper],
    .dropdown-menu[data-bs-popper] {
        margin-left:0px;
    }

    .dropdown-menu li:last-child a {
        border:none;
    }


    .dropend .dropdown-toggle::after {
        vertical-align: 0;
        position: relative;
        right: auto;
        top: auto;
        transform: scale(1.2) rotate(90deg) translatey(-6px);
    }

    header {
        position: fixed;
        top: 0;
        width:100%;
        z-index:2000;
    }

    .navbar-collapse.collapse.show{
        height: calc(100svh - 54px);
        overflow-y: scroll;
    }

    .navbar-collapse.collapse.show::-webkit-scrollbar {
        display: none;
    }

    .hero-via {
        display:none;
    }

    footer .bg-ccam-black .d-flex{
        flex-direction: column;
        align-items: flex-start !important;
        gap:24px;
    }

    footer .bg-ccam-black{
        
        border-radius:22px;
    }

    .header_home .title-32 {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    .header_home .title-20-var {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .header_home .dark-glass {
        padding:16px 12px!important;
    }

    .header_home {
        padding:12px!important;
        border-radius:28px;
    }
    
    .card-widget .dark-glass {
        flex-grow: 1!important;
    }
    .fake-rounder {
        display:none!important;
    }

    .card-widget {
        padding:12px!important;
        height:auto;
        aspect-ratio: 16/12!important;
    }

    .home-aree-tabella {
        border-radius: 28px!important;
    }


    .avvisi-lista {
        max-height:none;
    }

    .consorzio-oggi .light-white-image  {
        background:none!important;
    }

     .skip:focus {
        position: fixed;
        width: auto;
        height: auto;
        padding-top: 15px;
        left: 140px;
        color: #FFF !important;
        z-index: 200000;
    }

    a.nav-link:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .75);
        margin-left:4px;
        margin-right:4px;
    }

    a.dropdown-item:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .75);
        margin-left:4px;
        margin-right:4px;
    }
}


@media (max-width: 767.98px) { 

   

    .header_home,
    .header_interne {
        height:auto;
        aspect-ratio: 16/10!important;
    }

  .card-widget {
        padding:12px!important;
        height:auto;
        aspect-ratio: 16/10!important;
    }

    .header_home .dark-glass .gap-16 {
        gap:.5rem!important
    }

    .header_home .dark-glass .ps-12.border-start {
        padding-left: .5rem!important;
    }

    .avviso-data .body-14 {
        display:none!important;
    }

    .titolo-divisorio.title-36 {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    #alert-disservizio .title-20 {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .header_interne h1.title-32 {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    h1,
    section h1,
    :where(h1) {
        font-size: 1.625rem!important;
        line-height: 2rem;
        font-weight: 600;
        margin-block:0;
    }


    .text-page-area .title-32 {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    .accedi_mega_button {
        flex-direction: column;
        gap: 12px;
        padding:16px!important;
        align-items: flex-start!important;
        border-radius:24px;
    }

    .accedi_mega_button .btn {
        width:100%;
        justify-content: space-between;
    }
    .accedi_mega_button .stroke-3 svg {
        width:36px;
        height:36px;
        stroke-width: 2px;
    }

    .header_interne {
        border-radius: 28px;
    }

    .dettaglio_lettura {
        border-radius:0px;
        background:none!important;
    }

    .search-results img {

        aspect-ratio: 16 / 9;

    }

}


@media (max-width: 360px) { 

    .linkoni {
        padding:6px!important;
        gap: 4px!important;
    }

    .blu-big-icon {
        padding: 2px, important !important;
    }
    .blu-big-icon svg {
        width:20px;
        height:20px;
    }

    .arrow-linkone {
        position: absolute;
        right: 6px;
        top: calc(50% - 12px);
        transition: .3s all ease;
    }


}