$custom-colors: (
    "ccam-black": #0F191E,
    "ccam-grey": #536872,
    "ccam-grey-light": #909CA2,
    "ccam-lines": #D9E2E6,
    "ccam-offwhite": #F3F4F7,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


$custom-spacers: (
    "72": $spacer * 4.5,
    "60": $spacer * 3.75,
    "40": $spacer * 2.5,
    "32": $spacer * 2,
    "28": $spacer * 1.75,
    "24": $spacer * 1.5,
    "20": $spacer * 1.25,
    "16": $spacer * 1,
    "12": $spacer * 0.75,
    "8": $spacer * 0.5,
    "6": $spacer * 0.375
);

$spacers: map-merge($spacers, $custom-spacers);