$primary: #0076D6;
$secondary: #0F3752;
$danger: #CA3D3B;
$body-color: #536872;

$btn-font-size: 0.875rem;
$btn-line-height: 1.375rem;
$btn-font-weight: 600;
$btn-box-shadow: none;
$btn-padding-x: 0.9rem;
$btn-padding-y: 0.5em;
$btn-border-radius: 999px;